header {
  background-color: var(--background-tertiary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 38px 48px;
  position: relative;
}

.logo {
  display: inline-block;
  width: 68px;
  height: 64px;
}

.menu {
  margin-top: 24px;
}

.navegação-menu nav {
  position: absolute;
  display: none;
  top: 99%;
  left: 0;
  width: 100%;
  background-color: var(--background-tertiary-color);
}

.list-links {
  list-style: none;
}

.list-links li {
  margin-top: 8px;
}

.list-links li a {
  color: var(--text-secondary-color);
  text-decoration: none;
}

input[type="checkbox"]:checked ~ nav {
  display: block;
}
