header {
  background-color: var(--background-tertiary-color);
  width: 100%;
  height: 138px;
}

.logo {
  display: inline-block;
  width: 68px;
  height: 64px;
  margin: 37px auto 37px 48px;
}

.menu{
  display: inline-block;
  width: 32px;
  height: 32px;
}
