header {
  background-color: var(--background-tertiary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 38px 48px;
}

.logo {
  display: inline-block;
  width: 68px;
  height: 64px;
}

.menu{
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-top: 16px;
}

.navegação-menu {
  display: none;
}