.hero-img {
  width: 100%;
  height: 400px;
  background: url(../imgs/hero-mobile.png) no-repeat;
  background-size: cover;
}

.hero h2 {
  display: block;
  font-weight: var(--text-weigth);
  text-align: center;
  padding: 88px 24px;
  line-height: 1.5;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .hero-img {
    width: 100%;
    height: 620px;
    background: url(../imgs/hero-tablet.png) no-repeat;
    background-size: cover;
  }

  .hero h2 {
    font-style: normal;
    font-size: 32px;
    padding: 88px 60px;
  }
}

@media screen and (min-width: 1024px) {
  .hero-img {
    width: 100%;
    background: url(../imgs/hero-desktop.png) no-repeat;
    background-size: cover;
  }

  .hero h2 {
    padding: 104px 120px;
  }
}
