.hero-img {
    width: 100%;
    height: 400px;
    background: url(../imgs/hero-mobile.png) no-repeat;
    background-size: cover;
}


.hero h2 {
    display: block;
    font-weight: var(--text-weigth);
    text-align: center;
    margin: 88px 24px;
}

@media screen and (min-width: 768px) {

    .hero-img {
        width: 100%;
        height: 620px;
        background: url(../imgs/hero-tablet.png) no-repeat;
        background-size: cover;
    }
    
    .hero h2 {
        font-style: normal;
        font-size: 32px;
        margin: 88px 60px;
    }
}

@media screen and (min-width: 1024px) {

    .hero-img {
        width: 100%;
        background: url(../imgs/hero-desktop.png) no-repeat;
        background-size: cover;
    }

    .hero h2 {
        margin: 104px 120px;


    }
    
}